@import "/styles/partials/variables";
@import "/styles/partials/mixins";

.weather {
    &__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        @include sm {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        padding-top: 30px;
        gap: 28px;
    }
}

.firstSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    gap: 28px;
}

.secondSection {
    min-width: 100%;

    &Wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 37px;

    }
}

.sectionItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.sectionTitle {
    font-size: $sizeXL;
}

.sectionButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 25%;
}

.sectionButton {
    background: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: var(--text-color);



}

.small {
    font-size: $sizeS;
    font-weight: 400;
}

.large {
    font-size: $sizeL;
    font-weight: 500;
}

.scoreCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.bigCard {
    display: -webkit-box;
    display: -ms-flexbox;
    width: 100%;
    max-width: 380px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-image: url("/images/Icons/Rectangle26.png");
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    padding: 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.cardTitle {
    font-size: $sizeTitle;
    color: $firefly;
    text-align: center;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.59);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.59);
    border-radius: 15px;
    padding: 11px;

}

.buttonItem {
    padding-bottom: 30px;

}

.cardButton {
    padding: 24px 48px;

    font-size: $sizeTitle;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    max-width: -webkit-min-content;
    max-width: -moz-min-content;

    font-weight: 500;

    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;

    &:hover {
        background-color: #BBBBBB;

    }

    &:active {
        background-color: #dbeafe;
    }
}

.miniCards {
    width: 100%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 27px;
}