@import "partials/variables";
@import "partials/mixins";

.switch {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 163px;
    height: 34px;
    background-color: var(--card-bg);
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 9999px;
    overflow: hidden;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #bbd7ec;
    border-radius: 9999px;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    z-index: 1;
}

.button {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: none;
    background: transparent;
    color: gray;
    font-size: 14px;
    z-index: 2;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.active {
    color: #000;
}