@import "partials/variables";
@import "partials/mixins";

.card {
    max-width: 275px;
    padding: 16px;
    background-color: var(--card-bg);

    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    -webkit-transition: background-color 0.3s ease, color 0.3s ease;
    -o-transition: background-color 0.3s ease, color 0.3s ease;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;


}

.title {
    font-size: $sizeL;
    font-weight: 500;
}

.descWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 100px;


    -webkit-box-pack: center;



    -ms-flex-pack: center;



    justify-content: center;


}

.desc {
    $font-size: 12px;
    opacity: 0.7;
}

.det {
    font-size: $sizeS;
    // color: $trans-white-40;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.icon {
    max-width: 262px;
    max-height: 126px;
    padding: 25px 0px;
    -o-object-fit: contain;
    object-fit: contain;
}