.card {
    background-color: #bbd7ec;
    border-radius: 25px;
    color: var(--text-color);
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    min-width: 257px;
    max-height: 226px;
}


.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 18px 14px;
    background-color: #aecadf;
    border-radius: 25px 25px 0 0;

    h2,
    h3 {
        font-size: 16px;
        font-weight: 600;
        margin: 0;
        color: #0f0f11;
    }
}

.details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0.5rem;
    padding: 11px 14px;

    &__temp {
        font-size: 36px;
        color: #0f0f11;
        font-weight: 600;
    }

    &__description {
        color: #4f5658;
        font-size: 12px;
        font-weight: 400;

        &__bold {
            color: #0f0f11;
            font-weight: 600;
            padding-left: 5px;
        }
    }

    div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}